<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="passbook" href="/user/passbook">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>passbook</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" href="/user/info">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calender" href="/user/calender">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Calender</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
